extends ../layouts/default

block css
	link(href='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.2/flickity.min.css', rel="stylesheet")
	link(href='/styles/gallery.css', rel="stylesheet")

block js
	script(src='https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.2/flickity.pkgd.min.js')
	script(src='/js/gallery.js')
		
block content
	if galleries.length
		#fullpage
			each gallery in galleries
				.section(id="#{ gallery.name }")
					.container
						h2.strike-title= gallery.name
					.gallery(style="height: 66vh;").m-t-1
						each image in gallery.images
							.cell
								img(src=image.limit(300, 300), alt=image.limit(300, 300))
	else
		.container
			h3.text-muted There are no image galleries yet.
