extends ../layouts/default

block css
	style.
		#navbar {
			background: transparent;
		}

block content
	#fullpage
		.section
			iframe.google-view(src="https://www.google.com/maps/embed?pb=!1m0!3m2!1sen!2s!4v1434704678200!6m8!1m7!1sJhmvIFOetowAAAQqPybQVg!2m2!1d3.158038!2d101.743947!3f194.4619634181074!4f-6.186320040346345!5f0.7820865974627469")
			
		.section.container
			h1.strike-title Google Business View
			.row
				.col-sm-8.col-md-9.col-lg-9
					p.text-justify.
						Enhance your presence across Google with a premium quality, 360 degree virtual tour powered by
						Street View technology. Invite customers inside with a virtual tour of your business on Google Search,
						Google Maps and Google+. Getting business view is easy. Get started by contacting Ilox Studio, the Google Trusted
						Agency today. 
						
						<span class="hidden-xs-down"> Google Business View is a premium- quality 360-degree interactive virtual tour of your business places.
						It is powered by the same technology used to produce Google Street View across the world.
						You could enhance the presence of your brands across Google with this latest innovative and interactive
						feature which will definitely increase the traffic to your website and other social media portals.
						Connecting and interacting with your targeted group of customers will soon be more effective and easier
						with these features.</span>
				
				.col-sm-4.col-md-3.col-lg-3
					img(src="http://iloxstudio.com/img/TA-Badge-v1-EN-full.png").img-fluid
					
		.section.container.hidden-xs-down
			h2.strike-title Case studies
			.row
				.col-sm-4
					.card.embed-responsive.embed-responsive-16by9
						iframe.card-img.embed-responsive-item(src="https://www.youtube.com/embed/y0xCq1reDkI"
						allowfullscreen)
				.col-sm-4
					.card.embed-responsive.embed-responsive-16by9
						iframe.card-img.embed-responsive-item(src="https://www.youtube.com/embed/77kjssLqOYo"
						allowfullscreen)
				.col-sm-4
					.card.embed-responsive.embed-responsive-16by9
						iframe.card-img.embed-responsive-item(src="https://www.youtube.com/embed/gFWV1wpv5AQ"
						allowfullscreen)
					
		.section.container-fluid
			.row
				.col-xs-1
					i.lnr.lnr-chevron-left.fa-3x(id="moveLeft")
				.col-xs-10
					.slide.card-deck
						.card.card-border
							h3.card-title What is Google Business View?
							.card-block
								p.card-text.text-justify.
									The Google Street View for Malaysia was officially launched by Google to the public in September 2014.
									With the growing users of this feature on Google Maps, acquiring Google Business View for your unique brands allows
									you to catch up with the latest technology trends in branding and marketing your businesses on the internet.
									From the existing Google Street View services which displays your business place by the street, you can now link the
									virtual reality view of the street to your business interiors, providing an actual understanding of your business,
									services and facilities. Restaurants, retail outlets, office units, automobile showrooms, property galleries, etc
									are some of the popular industries which have actively engaged themselves with the potential clients through Google
									Business View. Stand out amongst your competitors and other businesses within your community. Breakthrough the geography limit of your
									brands and reach out a wider range of potential customers on the Google Search.
					
					.slide.card-deck
						.card.card-border
							h3.card-title How does it work?
							.card-block
								p.card-text.text-justify.
									Google Business View allows people to virtually walk through a business venue and view 360-degree panoramic imagery of
									the highest quality. Imagine the possibilities to view a place before stepping into the actual location!
									On the Google+ Business Pages for each business, you can also find more feature photos featuring information such as
									the business hours, accepted payment methods, ratings from general users, menus, specialty dishes and many more.
					
					.slide.card-deck
						.card.card-border
							h3.card-title Where do I see Google Business View?
							.card-block
								p.card-text.text-justify.
									These 360-degree panoramas will be available online on several Google service platforms,
									such as Google Search, Google Maps, Google My Business, Google Street View, WAZE etc.
									The possibilities are endless as it could be accessed from desktops, most Android and iOS mobile phones and tablets.
									With a complete business profile on Google+ Business Page with a virtual view of the business place, you can be sure
									that your potential clients are able to contact you for reservations, proceed with online purchases, or even locate
									you through navigation apps such as Google Maps.
									All these apps function swiftly on most Android and iOS mobile devices. Hence the smooth functionality of these features
									on the end-users devices is ensured.
					
					.slide.card-deck
						.card.card-border
							h3.card-title How else can I use Google Business View?
							.card-block
								p.card-text.text-justify.
									Additionally, they can easily be embedded on the businesses' website and other social media portals to
									positively influence customer traffic.
									With the open-sourced HTML codes and shared-links to your Google Business View, you can easily add-on links
									on your existing websites, blog posts, or social media platforms.
									You can even share the driving direction links through messages, emails, and communication apps to direct
									your visitors to the exact geography location of your business.
									The higher amount of clicks or search result traffic you direct to your Google+ Business Page and Google Business
									View will contribute to higher activities and popularity among search results of the similar keywords.
									Furthermore, you can track the branding and customers engagement statistics with Google Analytics.
					
					.slide.card-deck
						.card.card-border
							h3.card-title How to get your business featured with Google Business View?
							.card-block
								blockquote GETTING BUSINESS VIEW FOR YOUR BUSINESS IS SIMPLE, QUICK AND AFFORDABLE.
								p.card-text.text-justify.
									Businesses worldwide have started utilizing this exciting Be part of the growing community of Google Business
									View users in Malaysia, GET YOUR BUSINESS ON THE MAP NOW!
									Get started by contacting us, iLox Studio, the Google Trusted Agency today!
									Email or call us to schedule a personalised consultation session at your place now!
					
					.slide.card-deck
						.card.card-border
							h3.card-title Can I produce Google Business View Virtual Tour by myself?
							.card-block
								p.card-text.text-justify.
									Only a Google Trusted Business View Agency with a team of certified photographers and specific
									requirement pf professional equipment could perform Business View photo shoots within the designated country.
									We, the Google Trusted Agency at iLox Studio is here to provide you the best service for Google Business View!
				.col-xs-1
					i.lnr.lnr-chevron-right.fa-3x(id="moveRight")
				
		.section.container
			.col-xs-12.hidden-md-down: h2.strike-title 360 degree TOUR OF YOUR BUSINESS ACROSS GOOGLE
			h3 Invite customers inside with a virtual tour of your business on Google Search, Google Maps and Google+.</small>
			hr
			.row
				.col-sm-5
					img(src="https://www.google.com/maps/streetview/images/trusted/google-search.jpg").img-fluid
				.col-sm-7
					p.text-justify.hidden-xs-down.
						Google Business View allows people to virtually walk through a restaurant and view 360-degree panoramic imagery of the highest quality.
						You can find other feature photos too featuring business hours, credit cards accepted, ratings from general users, menus, specialty dishes and more for the business.
						These 360-degree panoramas will be available online on several Google service platforms. Additionally, they can easily be embedded on the businesses
						website to positively influence customer traffic.
					p.text-xs-center
						a.btn.btn-primary(href="/contact" role="button") Request a business shot
