extends ../layouts/default

block content
	.container.m-t-5.m-b-4
		h1.strike-title Makeup
		
		.row
			.col-md-7
				p.text-justify.
					ILOX Studio has professional makeup and hair services of an international standard. We carefully select our team of makeup artists based on our high international standards of excellence and perfection.
					We understand that our artists each have their own flare and style and we choose the best professionals working in South East Asia for our clients to collaborate with.
					Our hair and makeup services extend to almost all commercial and non-commercial purposes.
					Wedding coverage is one of our most popular non-commercial makeup services. We have a variety of artists and pricing options for clients to choose from and we understand
					the need for perfection on your special day.
			.col-md-5
				.card.embed-responsive.embed-responsive-16by9
					iframe.card-img.embed-responsive-item(src="https://www.youtube.com/embed/-z7W5dIvibA?rel=0"
					allowfullscreen)
			.col-xs-12
				p.text-justify.
					Our makeup and hair service for weddings begins with a special 2-4 hour trial session at our studio.
					Here, the makeup artist spends time with the future bride to cover a number of options and styles to find the perfect
					look for the day. After the future bride has chosen her perfect hair and makeup style, their makeup artist can then perfectly replicate that look on the day of their wedding.
					We also have makeup and hair services to cover our pre-wedding shoots. These special sessions are designed to create a collection of beautiful images for the future bride and groom in a style of their choosing,
					perhaps to display in an album on the wedding day.
				
				p.text-justify.
					For the wedding day itself, our makeup and hair artists are at your disposal for the entire day should you choose; this means entirely fresh makeup and hairstyling for an evening reception and touch-ups throughout the day.
					We also have basic makeup for the groom too to keep his face matte.
					For commercial services, our artists collaborate with clients to achieve the perfect look, whether that is basic makeup for an advertisement or high-end fashion magazine.
					Our makeup artists can be truly flexible to collaborate on any project our clients may have and we are also available to travel internationally to your chosen shoot location.
