extends ../layouts/default

block content
	.container.m-t-5.m-b-4
		h1.strike-title Videography
		
		.row 
			.col-md-7
				p.text-justify.
					ILOX Studio innovative videographers and cinematographers have all been specially trained
					and selected for their skill and passion.
					Our videographers and cinematographers are some of the best in their field in South East Asia.
					We are committed to collaborating with our clients to achieve the best quality productions at an international
					and professional standard. Our videography services range from commercial to non-commercial; we have experience in advertisements, special product features,
					360-degree video services for architecture or interior design.
				
			.col-md-5
				card.embed-responsive.embed-responsive-16by9
					iframe.card-img.embed-responsive-item(src="https://www.youtube.com/embed/-0mi2hKbvOU?rel=0"
					allowfullscreen)
		
			.col-xs-12
				p.text-justify.
					For non-commercial purposes, we have experience covering weddings and personal special occasions.
					When it comes to your wedding day, we have the technology and expertise to capture it on video in flawless quality to keep forever.
					Our creative production team has the knowledge on lighting, exposure and expertise on the perfect angles and timings to make sure your day is filmed in international quality.
					We can also produce a film of our pre-wedding or engagement shoots so not only will you have timeless images of that special day through photography
					but also professional quality film footage to cherish forever.
				p.text-justify.
					ILOX Studio has the experience to collaborate fully with our clients when it comes to commercial videography and cinematography, including concept development.
					We can work with our clients to shoot and film interviews, advertisements or product/property features. This could include for example shooting a virtual tour of a property
					or perhaps video coverage of your latest products to feature on a website. We also have expert video editors along with 3D designers and animators to collaborate with our commercial clients
					to create something truly unique and original for their campaign or feature.
	

