#footer.nav.container-fluid.navbar-fixed-bottom
	.col-xs-12.m-t-1.m-b-1.text-xs-center
		hr
		small.text-muted
			a(href='/blog').nav-link
				span.lnr.lnr-lock
			span | Call: 
			a(itemprop="telephone" 
			href="tel:+60 12 218 5583" 
			target="_blank" 
			rel="nofollow") +60 12 218 5583 
			span | &copy; 2011-
			span #{moment().format('YYYY')} 
			span(itemprop="name") iLox Studio
			span
