img {
	height: 100%;
	/*width: auto;*/
}

.cell {
	margin: 0 10px; 
	height: 100%;
	/*width: auto;*/
	/*margin-right: 10px;*/
}

.cell.is-selected {
	/*margin-top: 25px;*/
}

/* big buttons, no circle */
.flickity-prev-next-button,
.flickity-prev-next-button:hover {
	background: transparent;
}
